<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"> <!-- true이면, 재시작 없이 특정 시간마다 refresh 후 적용가능 -->

    <!-- appliction-{profile}.yml에 저장된 로그레벨을 LOG_LEVEL로 선언 -->
    <springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/>

    <!-- 패턴 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%thread] [%level] [%logger{0}] - %m%n"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- root레벨 설정 -->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>